* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul,li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  pointer-events: none; // ??
}

button {
  background-color: inherit;
  border: none;
  cursor: pointer;
}

p {
  font-family: inherit;
}

form,
input,
select,
textarea {
  // all: unset;
  font: inherit;
}