.works {
  position: relative;
  z-index: 2;
  overflow: hidden;
}


// .blur-3 {
//   position: absolute;
//   top: 50%;
//   right: 0;
//   transform: translateY(-50%);
//   z-index: 1;
//   width: 50%;
// }