.logo_link {
  display: inline-flex;
  align-items: center;
  gap: 8px;

  &:hover {
    background: linear-gradient(45deg, #d4ff00, #27f7f8, #d4ff00, #27f7f8);
    background-size: 200% 200%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradientAnimation 4s ease infinite;
  }
}

.logo__text {
  font-family: 'Nico-Moji';
  font-size: 20px;
  line-height: 100%;
  max-width: 66px;
  color: $white;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
